<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>yzb</servlet-name>
        <servlet-class>com.YaoZhibin.week2.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>yzb</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/userdb?serverTimezone=Asia/Shanghai</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>123456</param-value>
    </context-param>


<!--    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.YaoZhibin.week3.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>-->


    <!--<servlet>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <servlet-class>com.YaoZhibin.week4.ConfigDemoServlet</servlet-class>

        <init-param>
            <param-name>driver</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/userdb?serverTimezone=Asia/Shanghai</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>123456</param-value>
        </init-param>
        <init-param>
            <param-name>name</param-name>
            <param-value>YaoZhibin</param-value>
        </init-param>
        <init-param>
            <param-name>studentid</param-name>
            <param-value>2019211001000828</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>-->


    <servlet>
        <servlet-name>JDBCDemoServlet</servlet-name>
        <servlet-class>com.YaoZhibin.week4.JDBCDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.YaoZhibin.week5.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.YaoZhibin.week6.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JDBCDemoServlet</servlet-name>
        <url-pattern>/jdbc</url-pattern>
    </servlet-mapping>


</web-app>